@import url("izitoast/dist/css/iziToast.min.css");

body {
    font-family: 'Montserrat', sans-serif;
    color: #2E2F42;
    background-color: #ffffff;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    margin-right: auto;
    letter-spacing: 0.04em;
}
.input-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.input-label input {
    outline: none;
    padding: 8px;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    transition: all 0.3s ease;
}
.input-label input:hover {
    border-color: #000000;
}   
.input-label input:focus {
    border-color: #4E75FF;
}
.form fieldset {
    display: flex;
    justify-content: center;
    gap: 48px;
    border: 1px solid #808080;
    border-radius: 4px;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    border: none;
    background: #4e75ff;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
}
button:hover {
    background: #6c8cff;;
}